#root > gs-grid {
  background-color: #fafad2;
}

.grid-stack-item-content {
  background-color: #eee;
  text-align: center;
}

.grid-stack-sub-grid > .grid-stack-item-content {
  background-color: rgb(0 0 0 / 10%);
}
